<!DOCTYPE html>
<html>
<head>
    <base href="/" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" type="image/x-icon" href="restaurant26.png" />
    <title>Recept szerkesztő {{#if loggedIn}}
    -
    {{user.username}}
    {{/if}}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/lib/bootswatch/sandstone/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Kattintson a navigációhoz</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">
                        {{#if loggedIn}}
                          {{#if user.avatar }}
                          <img style="border:none; position: relative; top:-10px; width:40px; height:40px; float:left;" src="{{user.avatar}}" alt="avatar"></img>
                          {{/if}}
                          <span style="color:green; font-style:italic;">{{user.username}}</span>
                        - {{/if}} Recept szerkesztő
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <!-- <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul> -->

                      <ul class="nav navbar-nav navbar-right">
                        {{#if loggedIn}}
                        <li><a href="/">Receptek</a></li>    
                        <li><a href="/recipes/list">Receptjeim</a></li>                        
                        <li><a id="linkNewRecipe" href="/recipes/new">Új recept</a></li>    
                        <li><a href="/user/edit">Adataim</a></li>
                        {{#if isOperator}}
                        <li><a href="/user/list">Felhasználók</a></li>                        
                        {{/if}}
                        <li><a id="linkLogout"  href="/user/logout">Kilépés</a></li>
                        
                        {{else}}
                        <li><a href="/user/signin">Bejelentkezés</a></li>
                        {{/if}}
                        
                        <li><a href="/about#">Súgó</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>

                {{{body}}}

            </div>
        </div>
    </div>
    
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>